---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<div class="px-5 pt-44 lg:pt-72">
		<h1 class="font-heading text-4xl md:text-5xl leading-tight">
			<span
				class="font-bold text-transparent bg-clip-text bg-gradient-to-r from-primary to-accent"
			>
				Hydrogen
			</span>
			<br class="sm:hidden" />
			for Future
		</h1>
		<p class="py-6 font-body">
			Zur Rettung des Klimas benötigen wir Grünen Wasserstoff.
		</p>

		<div class="m-auto flex justify-between md:justify-start">
			<a
				href="Campaign"
				class="m-0 md:mr-5 font-body bg-secondary hover:bg-accent transition-colors py-3 px-4 rounded"
				>Kampagne
			</a>
			<a href="GreenHydrogen"
				class="m-0 md:mr-5 font-body bg-primary hover:bg-accent transition-colors py-3 px-4 rounded drop-shadow-md font-bold"
				>Grüner Wasserstoff
			</a>
		</div>
	</div>
</Layout>
