---
import Head from "../components/Head.astro";
import Foot from "../components/Foot.astro";
import Fonts from "../styles/Fonts.astro";
import Style from "../styles/global.scss";
const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>HFF | {title}</title>
		<Fonts />
		<Style/>
	</head>
	<body>
		<Head />
		<slot />
		<Foot />
	</body>
</html>
